containerlab/images/
containerlab/vrnetlab/
*.yaml.bak
*.yml.bak
.*.yaml
containerlab/labs/**/*.key
containerlab/labs/**/*.pem
authorized_keys
containerlab/labs/graphite/2host/clab-2host/authorized_keys
containerlab/labs/graphite/2host/clab-2host/authorized_keys
*.swp
*.qcow2
*.vmdk
*.key
*.pem
**/flash/system_mac_address
**/flash/if-wait.sh
**/flash/SsuRestore*
**/flash/kickstart-config
**/flash/debug
*.log
*.log.gz
**/flash/persist/secure
**/flash/persist/sys
**/flash/persist/clock
**/flash/persist/local
**/flash/persist/messages
**/flash/.assetTags
**/flash/aboot/update/history
**/flash/boot-config
**/flash/startup-config
topology-data.json
**/ansible-inventory.yml
iouyap.ini
nvram
NETMAP
nvram_*
boot_config.txt
startup.cfg

# Allow only pcap files and README.md in packet-captures folder
packet-captures/*
!packet-captures/*.pcap
!packet-captures/*.pcapng
!packet-captures/README.md
nornir-simple-inventory.yml
*.clab.yml.annotations.json
.aider*
.gitignore
clab_test_labs.py
lab_errors.txt
successful_labs.json
CONVERSION_REPORT.md
convert_bgp_to_clab.py
ansible-inventory.yml
L1OpenConfig.json
**/flash/.config-repo-ar/
flash/
deployment_log.txt
failed_labs.txt
successful_labs.txt
*.pyc
